div class="row">
<div class="col-xs-12">
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <input
      type="hidden"
      id="_id"
      formControlName="_id"
      class="form-control">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="games">Games</label>
          <select id="games">
            <option *ngFor="let game of getGames()" [value]="game._id"
                    [selected]="(game._id)">{{ game.title }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!companyForm.valid">Save
        </button>
      </div>
    </div>
  </form>
</div>

