<div class="container">
  <hr>
  <h1 align="center">{{company?.name}}</h1>
  <hr>
  <div class="row">
    <div class="col-lg-6">
    <img class="img-fluid" src="../../../../assets/images/GameCompanyBig.jpg" alt="Card image cap">
    </div>
    <div class="col-lg-6" >
      <!--<h2 class="name">{{company?.name}}</h2>-->
      <!--<hr>-->
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Founder</th>
          <td>{{ company?.founder }}</td>
        </tr>
        <tr>
          <th>Country</th>
          <td>{{ company?.country }}</td>
        </tr>
        <tr>
          <th>Country</th>
          <td>{{ company?.total_employees }}</td>
        </tr>
        </tbody>
      </table>
      <p>{{company?.largeDescription}}</p>
    </div>
  </div>
  <hr>
  <div>
    <h2 align="center">OUR GAMES</h2>
  </div>
  <hr>
  <div *ngFor="let game of getCompany()?.games">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="../../../../assets/images/Game.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{getCompanyGameCollection(company?.games).title}}</h4>
          <p class="card-text">{{getCompanyGameCollection(company?.games).description}}</p>
          <div class="pull-center">
            <a [routerLink]="['/games', game]">
              <button class="btn btn-primary">More Info</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-primary" (click)="onEdit()">Alter Details</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete Company</button>
    <button class="btn btn-primary" (click)="onAddGame()">Add Game to Company</button>
  </div>
</div>

